/*Navigation menu*/
#navbar .social{
  display:none;
}
#navbar .container{
  grid-template-columns:repeat(1,1fr);
  gap:1.2rem;
}

#navbar ul,
#navbar .logo{
  justify-self: center;
}
#navbar .logo{
  max-width:150px;
}
#navbar .ul li a{
  padding:0.5rem;
}
/*showcase container*/
#showcase .showcase-container {
  grid-template-columns: 1fr;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.btn-primary{
  width:90%;
  font-size:0.8rem;
}

.articles-container{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:1rem;
}

.articles-container >:nth-child(2){
  grid-template-columns: 1fr;
  grid-column: 2 / 3;
}
.articles-container>:nth-child(n) {
  grid-template-columns: 1fr;
}

/**media query**/
@media(max-width:600px){
  /*Stack Grid Items */

  #showcase .showcase-container,
  #main-articles .articles-container,
  #main-footer .footer-container
  {
    display:grid;
  grid-template-columns: 1fr;
   grid-column: 1;
   gap:1rem;
}

.articles-container >:nth-child(2){
  grid-template-columns: 1fr;
  grid-column: 1/ 2;
}

article{
  grid-column:1;
  grid-template-columns: 1fr;
  padding-bottom: 0.25rem;
  border-bottom: 1px dotted #555;
}

#main-footer .footer-container>*:nth-last-child(1){
grid-column: 1;
}

#main-footer .footer-club p
{
padding-bottom: 0.25rem;
}

/****ABOUT PAGE****/
.about-container{
  grid-template-columns: 1fr;
  text-align: center;
}
/*******ARTICLE PAGE*********/
#article-news .page-container {
  grid-template-columns: 1fr;
  text-align: center;
}
.l-heading{
  font-size:1.5rem;
}
.main p,
.main-article p
{
  text-align: justify;
}
.main-article .author-info{
  font-size: 5px;
}

.about-container .side{
  margin-top: 0;
  }