@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

:root {
  /* --primary-color: #c72727; */
  /* --primary-color: rgb(199, 39, 39); */
  --primary-color: #2bef39;
  --primary-color: #35d340;
  --clr1: 255;
  --clr2: 255;
  --clr3: 0;
  --bgc-articles: rgba(var(--clr1, 255), var(--clr2, 255), var(--clr3, 0), 0.2);
  --bgc-articles: rgba(0, 249, 0, 0.1);
  --secondary-color: rgb(249, 149, 0);
  --secondary-color: rgb(11, 109, 165);
  --dark-color: #333;
  --light-color: #f3f3f3;
  --max-width: 1100px;
  --img-url: './css/img/featured.jpg';
}
.category {
  --sports-color: rgb(249, 149, 0);
  --ent-color: rgb(166, 107, 190);
  --tech-color: rgb(0, 156, 255);
  --err-color: red;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
  /* line-height: 1.5; */
  background-color: var(--light-color);
}

a {
  color: var(--dark-color, #333);
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  width: 90%;
  border-bottom: 1px dotted #555;
}

p {
  margin: 0.5rem 0;
}
.l-heading {
  font-size: 3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 0.55rem;
  margin-top: 0.5rem;
  line-height: 1.3;
}

/* * {
  border: 1px solid black;
} */

/*Utilidades or utilities */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.category {
  color: #fff;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
  font-weight: bold;
  display: inline-block;
}
.category.sports {
  background-color: var(--sports-color, orange);
}
.category.entertainment {
  background-color: var(--ent-color);
}
.category.technology {
  background-color: var(--tech-color);
}

.btn {
  display: inline-block;
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: var(--dark-color);
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}

.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.bg-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}
.bg-light {
  background-color: #fff;
  color: #333;
}

/**/
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}

.bg-light h1,
.bg-light h2,
.bg-light h3,
.bg-light a {
  background-color: #fff;
  color: #333;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

p {
  /* padding:0.5rem; */
  margin: 0.5 rem 0;
}

/*NavBar */
#navbar {
  position: sticky;
  top: 0px;
  z-index: 3;
  background-color: #fff;
}

#navbar {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  align-items: center;
}
/*Logo*/
.logoContainer {
  min-width: 100px;
  max-width: 200px;
}
/*****Social*****/
ul.social {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  align-items: center;
  justify-self: center;
}

.social .i {
  font-size: 2rem;
  color: var(--dark-color);
  margin-right: 1rem;
}

.fa-facebook:hover {
  color: #0571e6;
  /* color:#17a9fd; */
}

.fa-twitter:hover {
  color: #1d9bf0;
  /* width: 100%; */
  z-index: 1;
  background-color: transparent;
}

.fa-instagram:hover {
  color: #f15245;
}
.fa-youtube:hover {
  color: #e21;
}
.fa-discord:hover {
  color: #404eed;
}
.fa-globe:hover {
  color: #1ed95f;
}
/*****Social*****/
/* ul li {
  padding: 0.2rem;
} */
/*****Menu*****/
ul.menu {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}
ul.menu li a {
  padding: 0.75rem;
  font-weight: bold;
}

li a.current {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
}

ul.menu li a:hover {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-radius: 4px;
}
/*******menu*****/
/*****NavBar*******/
/*SHOWCASE*/
#showcase {
  padding: 2rem;
  position: relative;
  background-color: var(--dark-color);
  color: #fff;
}

#showcase {
  /* content: ''; */
  /* position: absolute; */
  top: 0;
  left: 0;
  background: url('../../public/imgs/articles/featured.jpg') no-repeat center
    center/cover;
  width: 100%;
  height: 100%;

  overflow: hidden;

  /* background: url('../imgs/articles/featured.jpg'); */

  /* background-attachment: fixed;
  background-repeat: no-repeat;

  background-position:center center; 

  background-size:cover; */
}

#showcase .container {
  height: 100%;
  padding-top: 4rem;
}

#showcase .showcase-container,
#showcase .showcaseContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#showcase .showcase-container .showcase-content {
  padding: 0.25rem 0.5rem;
}

#showcase .showcase-content p,
#showcase .showcase-content a {
  margin-bottom: 2rem;
  color: #fff;
}
/***end showcase**********/
.btn-primary,
.btn a {
  background-color: var(--primary-color);
  cursor: pointer;
  color: #fff;
  width: 40%;
  text-align: center;
}

.btn-secondary {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: #fff;
  /* width: 40%; */
  text-align: center;
}

#main-articles .container {
  background-color: var(--bgc-articles);
}
/***MAIN ARTICLES**/
#main-articles {
  padding: 2rem;
}
.articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.articles-container > :nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2 / 4;
  align-items: center;
}

.articles-container article img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* .articles-container > :nth-child(4) > :nth-child(5) {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
} */

/* .articles-container .tech2 {
  max-height: 500px;
} */
/* .articles-container .tech3 {
  max-height: 1000px;
} */
/*********FOOTER***************/
#main-footer {
  background-color: var(--dark-color);
  color: #fff;
  /* padding: 1rem; */
}
#main-footer a {
  text-decoration: none;
  color: #fff;
}
#main-footer .list li a:hover {
  color: var(--primary-color);
}

#main-footer img {
  max-width: 150px;
  height: auto;
  margin: auto;
  display: block;
}
.footer-container .list li {
  border-bottom: 1px dashed #666;
}
.footer-container .list li a:hover {
  color: var(--primary-color);
}

.footer-container .list li:last-child {
  border-bottom: none;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: justify;
  gap: 1.5rem;
}

.footer-container input[type='email'] {
  padding: 0.5rem;
  width: 90%;
  margin-bottom: 0.5rem;
}
.footer-container input[type='submit'] {
  width: 90%;
}
/* .footer-container .btn {
  width: 90%;
} */

.footer-container > *:nth-last-child(1) {
  background-color: #444;
  text-align: center;
  grid-column: 1 / 5;
  font-size: 0.75rem;
}

/********footer*****/
/*******ABOUT PAGE*/
#about .container {
  margin: 1rem;
}
.about-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  background-color: var(--light-color);
  /* height: 90vh; */
  gap: 1.5rem;
}
.about-container .main {
  background-color: #fff;
  padding: 1.5rem 1rem;
  grid-row: 1 / span 4;
}
.about-container .side {
  padding: 1rem 1rem;
}
.about-container .side .btn:hover {
  background-color: var(--secondary-color);
}
/*******ARTICLE PAGE*********/
#article-news .container {
  padding: 0.5rem 2rem;
  background-color: #fff;
}
#article-news .page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 1rem;
  background-color: var(--bgc-articles, #fff);
}

.main-article .author-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background-color: #eee;
  padding: 0.5rem;
}

.card {
  padding: 1rem;
}
.side {
  padding: 1rem 1rem;
  margin-top: 2rem;
}
.main-article .author-info .category {
  margin-bottom: 0;
}
